@import 'mixins';

.contactHero {
  float: left;
  padding-right: 32px;
  width: 50%;

  @media #{$mediaScreen-med}{
    margin-left: 32px;
  }

  @media #{$mediaScreen-small}{
    display: none;
  }
}
.contactInfo {
  @media #{$mediaScreen-small}{
    text-align: left;
    margin: 0 32px;
  }
}
h1.secondaryType {
  font-weight: 200;
}
