$mediaScreen-small: "screen and (max-width: 600px)";
$mediaScreen-med:   "screen and (min-width: 600px) and (max-width: 800px)";
$mediaScreen-large: "sreeen and (min-width: 1200px)";
$mediaScreen-med-to-large: "screen and (min-width: 600px)";
